/* I never really thought about having a backup in inline style code in HTML tags    */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }

  .blue-text {
    color: blue;
  }

</style>
<h1 class="pink-text blue-text">Hello World!</h1>